<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Room Reservations</title>
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />	
		<link rel="stylesheet" type="text/css" href="css/aboutstyle.css" />	
	</head>
	
	<body>
		<div class="container">
			<%- include("navbar") %>

			<form method="get" action="/Bookings/Check">
				<header>
				<h2>Make a Room Reservation</h2>
				</header>
				<fieldset>
					<legend>Room Reservation</legend>
					<label>Room Type
			<select name="roomType">
			<option>Single</option>
			<option>Double</option>
			<option>Underwater Single</option>
			<option>Underwater Double</option>
			<option>Junior Suite</option>
			<option>Master Suite</option>
			<option>Underwater Junior Suite</option>
			<option>Underwater Master Suite</option>
			</select>
			</label>
			<label>Number of adults
			<select name="noOfAdults">
			<option>1</option>
			<option>2</option>
			</select>
			</label>
			<label>Check in
			<input type="date" name="checkIn">
			</label>
			<label>Check out
			<input type="date" name="checkOut">
			</label>
			<br>
			<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input class="search" type="submit" value="Check Availability">
			<br>
		</form>
	
</div>
</body>
</html>
